<div class="container">        
    <div class="board">
        <!-- Coluna Atrasados -->
        <div class="column">
            <div class="column-header">Atrasados</div>
        
            <div
                class="card"
                *ngFor="let follow of followsAtrasados"
                (click)="abrirModal(follow)">
                <div class="card-title">
                    {{ follow.cliente }}
                </div>
                <div class="card-info">
                    <div class="info-row">
                        <span class="info-label">
                            Arquiteto:
                        </span>
                        <span class="info-value">
                            {{ follow.arquiteto }}
                        </span>
                    </div>

                    <div class="info-row">
                        <span class="info-label">
                            Data:
                        </span>
                        <span class="info-value">
                            {{ follow.data }}
                        </span>
                    </div>

                    <div class="info-row">
                        <span class="info-label">
                            Hora:
                        </span>
                        <span class="info-value">
                            {{ follow.hora }}
                        </span>
                    </div>
                    <span class="badge badge-today">{{ follow.estagio }}</span>
                </div>
            </div>
        </div>

        <!-- Criação dos cards dinamicamente -->
         <!-- Coluna Hoje -->
        <div class="column">
            <div class="column-header">Hoje</div>
            <!-- Criação do card individual -->
            <div
                class="card"
                *ngFor="let follow of followsHoje"
                (click)="abrirModal(follow)">
                <div class="card-title">
                    {{ follow.cliente }}
                </div>
                <div class="card-info">
                    <div class="info-row">
                        <span class="info-label">
                            Arquiteto:
                        </span>
                        <span class="info-value">
                            {{ follow.arquiteto }}
                        </span>
                    </div>

                    <div class="info-row">
                        <span class="info-label">
                            Data:
                        </span>
                        <span class="info-value">
                            {{ follow.data }}
                        </span>
                    </div>

                    <div class="info-row">
                        <span class="info-label">
                            Hora:
                        </span>
                        <span class="info-value">
                            {{ follow.hora }}
                        </span>
                    </div>
                    <span class="badge badge-today">{{ follow.estagio }}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- FUNÇÃO DE ABRIR NOVA JANELA -->
    <div
        *ngIf="modalAberto"
        class="
            fixed
            inset-0
            bg-black/60
            flex
            items-center
            justify-center
            z-50
        ">
        <!-- JANELA DE DETALHAMENTO -->
        <div
            class="
            bg-white
            rounded-2xl
            p-8
            w-full
            max-w-2xl
            shadow-2xl
            max-h-[90vh]
            overflow-y-auto
            ">
            <!-- DIV DE CABEÇALHO DA NOVA JANELA -->
            <div class="flex justify-between items-center mb-6">
                <h2 class="text-2xl font-bold">
                    Detalhes do Atendimento
                </h2>
                <button
                    (click)="fecharModal()"
                    class="closeScreen">
                    <!-- Simbolo de fechar janela-->
                    ×
                </button>
            </div>
            <!-- INFORMAÇÕES DO CARD -->
            <div class="space-y-4">
                <p>
                    <strong>Cliente:</strong>
                    {{ followSelecionado?.cliente }}
                    <strong>| Arquiteto:</strong>
                    {{ followSelecionado?.arquiteto }}
                </p>
                <p>
                    <strong>Telefone:</strong>
                    {{ followSelecionado?.telefone}}
                    <strong>| Email:</strong>
                    {{followSelecionado?.email}}
                </p>
                <p>
                    <strong>Data:</strong>
                    {{ followSelecionado?.data }}
                    <strong>| Hora:</strong>
                    {{ followSelecionado?.hora }}
                </p>
                <p>
                    <strong>Observações:</strong>
                    {{ followSelecionado?.observacoes }}
                </p>
            </div>
            <div class="flex gap-4 mt-8">
                <button
                    (click)="abrirReagendamento()"
                    class="
                    bg-yellow-500
                    text-white
                    px-6
                    py-3
                    rounded-xl
                    ">
                    Reagendar
                </button>
                <button
                    (click)="abrirEncerramento()"
                    class="
                    bg-green-600
                    text-white
                    px-6
                    py-3
                    rounded-xl
                    ">
                    Finalizar
                </button>
            </div>
            <!-- FORMULARIO PARA REAGENDAMENTO -->
            <div
                *ngIf="acaoSelecionada === 'reagendar'"
                class="mt-8 space-y-6">

                <div>
                    <label class="font-semibold block mb-2">
                        Conduzi o atendimento com segurança e naturalidade
                    </label>
                    <select class="w-full border rounded-xl p-3">
                        <option>Sim</option>
                        <option>Parcial</option>
                        <option>Não</option>
                    </select>
                </div>
                <div>
                    <label class="font-semibold block mb-2">
                        Entendi como o cliente vive e o que ele valoriza
                    </label>
                    <select class="w-full border rounded-xl p-3">
                        <option>Sim</option>
                        <option>Parcial</option>
                        <option>Não</option>
                    </select>
                </div>
                <div>
                    <label class="font-semibold block mb-2">
                        Esse atendimento foi
                    </label>
                    <select class="w-full border rounded-xl p-3">
                        <option>Superficial</option>
                        <option>Adequado</option>
                        <option>Consultivo</option>
                        <option>Diferencial Brentwood</option>
                    </select>
                </div>
                <div>
                    <label class="font-semibold block mb-2">
                        O cliente saiu
                    </label>
                    <select class="w-full border rounded-xl p-3">
                        <option>Mais próximo da compra</option>
                        <option>Neutro</option>
                        <option>Mais distante</option>
                    </select>
                </div>
                <div>
                    <label class="font-semibold block mb-2">
                        Qual o próximo movimento com esse cliente?
                    </label>
                    <select
                    class="
                        w-full
                        border
                        rounded-xl
                        p-4
                        min-h-[120px]
                    ">
                        <option>Sem necessidade de ajuste</option> 
                        <option>Ajuste de proposta</option>
                        <option>Contornando objeções</option>
                        <option>Aguardando decisão</option>
                        <option>Momento de entender a preferencia</option>
                        <option>Em negociação</option>
                        <option>Negociação final</option>
                        <option>Fechamento</option>
                    </select>
                </div>
                <div>
                    <label class="font-semibold block mb-2">
                        O que você faria diferente para elevar esse atendimento?
                    </label>
                    <textarea
                    class="
                        w-full
                        border
                        rounded-xl
                        p-4
                        min-h-[120px]
                    ">
                    </textarea>
                </div>
                <div>
                    <label class="font-semibold block mb-2">
                        Data do novo agendamento
                    </label>
                    <input
                        type="date"
                        [(ngModel)]="novaData"
                        class="w-full
                            border
                            rounded-xl
                            p-3">
                </div>
                <button
                    (click)="confirmaReagendamento()"
                    class="
                        bg-blue-600
                        text-white
                        px-6
                        py-3
                        rounded-xl
                        w-full
                    ">
                        Salvar novo follow
                </button>
            </div>
            <!-- FORMULARIO DE ENCERRAMENTO -->
            <div
            *ngIf="acaoSelecionada === 'finalizar'"
            class="mt-8 space-y-6">
            <div>
                <label class="font-semibold block mb-2">
                    Como finalizou esse atendimento
                </label>
                <select 
                    [(ngModel)]="statusEncerramento"
                    class="w-full border rounded-xl p-3">
                    <option>Encerramento Brentwood</option>
                    <option>Encerramento concorrencia</option>
                    <option>Desistiu da compra</option>
                </select>
            </div>
            <button
            (click)="confirmaEncerramento()"
            class="
                bg-green-600
                text-white
                px-6
                py-3
                rounded-xl
                w-full
            ">
                Encerrar atendimento
            </button>
        </div>
    </div>
</div>
