.metodh{
    font-weight: bold;
    
    margin-top: 10px;
}

.checkbox-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    background: #7c3aed;
    color: white;

    padding: 16px;
    border-radius: 12px;

    width: 100%;
    max-width: 288px; /* equivalente ao sm:w-72 */

    cursor: pointer;

    box-shadow: 0 10px 20px rgba(220, 38, 38, 0.2);

    transition: all 0.2s ease;
}

/* hover igual seu botão */
.checkbox-btn:hover {
    background: #6f2e8d;    
    transform: scale(1.1);
    transition: 0.2s ease;
}

/* active igual seu botão
.checkbox-btn:active {
    background: #2d8525;
} */

.checkbox-btn input {
    display: none;
}

.icon {
    margin-right: 10px;
    opacity: 0;
    transform: scale(0.6);
    transition: 0.2s ease;
}

/* quando marcado, mostra o ícone */
.checkbox-btn input:checked + .checkbox-ui .icon {
    opacity: 1;
    transform: scale(2);
    color: #40e25b;
    text-shadow: 2px 3px rgba(35,126,50, 0.8);
}