<!-- SISTEMA DE NOTIFICAÇÃO -->
<div id="toast-container"
    class="
    fixed
    top-6
    left-1/2
    -translate-x-1/2
    z-[9999]
    flex
    flex-col
    gap-3
    pointer-events-none">
</div>

<!-- FUNDO -->
<div class="
    bg-slate-50
    rounded-b-2xl
    shadow-2xl
    p-8
    sm:p-12
    flex
    flex-col
    items-center
    border
    border-slate-200/50
">

    <!-- PAINEL DA FILA -->
    <div>
        <div
            *ngIf="filaService.estaNaFila"
            class="relative mt-4">

            <!-- GLOW -->
            <div class="
                absolute
                inset-0
                rounded-full
                bg-slate-200
                animate-pulse-slow
                scale-110
                opacity-50
            ">

            </div>

            <!-- CÍRCULO -->
            <div class="
                relative
                w-40
                h-40
                sm:w-48
                sm:h-48
                rounded-full
                border-[6px]
            /    border-slate-800
                flex
                items-center
                justify-center
                bg-white
                shadow-inner
            ">
                <!-- POSIÇÃO -->
                <span class="
                    text-7xl
                    sm:text-8xl
                    font-light
                    text-slate-800
                    leading-none
                ">
                    {{ posicaoFila }}
                </span>

            </div>

        </div>
    </div>
    <!-- ESTADO VAZIO -->
    <div
        *ngIf="!filaService.estaNaFila"
        class="
            mt-10
            text-center
        ">

        <i class="
            fa-solid
            fa-users
            text-6xl
            text-slate-300
        "></i>

        <p class="
            mt-4
            text-slate-500
            text-lg
        ">
            Você ainda não entrou na fila
        </p>

    </div>

    <!-- BOTÕES -->
    <div class="
        flex
        flex-col
        sm:flex-row
        gap-4
        sm:gap-6
        mt-10
        w-full
        justify-center
    ">

        <!-- ENTRAR NA FILA -->
        <button
            *ngIf="!filaService.estaNaFila"
            (click)="entrarFila()"
            class="
                flex
                items-center
                justify-center
                gap-3
                bg-[#eab308]
                hover:bg-[#ca8a04]
                text-white
                py-4
                rounded-xl
                shadow-lg
                transition-colors
                duration-200
                w-full
                sm:w-72
                cursor-pointer
            ">

            <i class="fa-solid fa-right-to-bracket text-lg"></i>

            <span class="
                font-semibold
                tracking-wide
            ">
                ENTRAR NA FILA
            </span>

        </button>

        <!-- REGISTRAR ATENDIMENTO -->
        <button
            *ngIf="filaService.estaNaFila"
            (click)="registrarAtendimento()"
            class="
                flex
                items-center
                justify-center
                gap-3
                bg-[#44b564]
                hover:bg-[#2e8245]
                text-white
                py-4
                rounded-xl
                shadow-lg
                shadow-green-500/20
                transition-colors
                duration-200
                active:bg-[#256a38]
                w-full
                sm:w-72
                cursor-pointer
            ">

            <i class="fa-solid fa-check text-lg"></i>

            <span class="
                font-semibold
                tracking-wide
            ">
                REGISTRAR ATENDIMENTO
            </span>

        </button>
        <!-- SAIR DA FILA -->
        <button
            *ngIf="filaService.estaNaFila"
            (click)="sairFila()"
            class="
                flex
                items-center
                justify-center
                gap-3
                bg-[#d94848]
                hover:bg-[#a63030]
                text-white
                py-4
                rounded-xl
                shadow-lg
                shadow-red-500/20
                transition-colors
                duration-200
                active:bg-[#852525]
                w-full
                sm:w-72
                cursor-pointer
            ">

            <i class="fa-solid fa-arrow-right-from-bracket text-lg"></i>

            <span class="
                font-semibold
                tracking-wide
            ">
                SAIR DA FILA
            </span>
        </button>
        <!-- LOJA CHEIA -->
        <div class="metodh">
            <label class="checkbox-btn">LOJA CHEIA:
                <input
                    type="checkbox"
                    [(ngModel)]="lojaCheia">
                <span class="checkbox-ui">
                    <i class="fa-solid fa-check icon"></i>
            
                </span>
            </label>
        </div>
    </div>
<div>
<div class="infotable">
    <table class="w-full">
        <thead>
            <tr>
                <th>Entrada</th>
                <th>Usuário</th>
                <th>Última atividade</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let usuario of usuariosFila">
                <td>{{ usuario.entrada | date:'dd/MM/yyyy HH:mm'}}</td>
                <td>{{ usuario.nome }}</td>
                <td>{{ usuario.ultima_atividade | date:'HH:mm' }}</td>
            </tr>
        </tbody>
    </table> 
</div>
