.infotable{
    width: 1000px;
    display: flex;
    border-color: black;
    border-style: double;
    border-width: 4px;
    margin: 20px;
    border-radius: 20px;
}

.infotable table{
    margin: 50px;
    text-align: center;
}

.infotable thead{
    border-bottom-style:groove;
    border-bottom-width: 4px;
    padding-bottom: 100px;
}

.infotable td{
    border-bottom-style:groove;
    border-bottom-width: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.checkbox-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 15px;
    background: #7c3aed;
    color: white;
    padding: 16px;
    border-radius: 12px;
    width: 100%;
    max-width: 288px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(220, 38, 38, 0.2);
    transition: all 0.2s ease;
    font-weight:bold;

}

.checkbox-btn:hover {
    background: #6f2e8d;    
    transform: scale(1.1);
    transition: 0.2s ease;
}

.checkbox-btn input {
    display: none;
}

.icon {
    margin-right: 10px;
    opacity: 0;
    transform: scale(0.6);
    transition: 0.2s ease;
}

/* quando marcado, mostra o ícone */
.checkbox-btn input:checked + .checkbox-ui .icon {
    opacity: 1;
    transform: scale(2);
    color: #40e25b;
    text-shadow: 2px 3px rgba(35,126,50, 0.8);
}

.status-bola {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    /* margin-right: 8px; */
    vertical-align: middle;
    border: 1px solid #999;
}

.status-verde {
    background-color: #28a745;
}

.status-amarelo {
    background-color: #ffc107;
}

.status-vermelho {
    background-color: #dc3545;
}