.infotable{
    width: 1000px;
    display: flex;
    border-color: black;
    border-style: double;
    border-width: 4px;
    margin: 20px;
    border-radius: 20px;
    color: white
}

.infotable table{
    margin: 50px;
    text-align: center;
}

.infotable thead{
    border-bottom-style:groove;
    border-bottom-width: 4px;
    padding-bottom: 100px;
}

.infotable td{
    border-bottom-style:groove;
    border-bottom-width: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
}