<div class="bg-[#0a0a0a]
    font-sans
    text-white
    flex
    flex-row-reverse
    p-2 sm:p-2">
    <button 
                (click)="logout()"
                class="flex
                items-center
                justify-center
                gap-3
                bg-[#d94848]
                hover:bg-[#a63030]
                text-white
                py-2
                rounded-xl
                shadow-lg
                shadow-red-500/20
                transition-colors
                duration-200
                active:bg-[#852525]
                w-40
                cursor-pointer">
        <span>DESCONECTAR</span>
    </button>
</div>

<div class="
    bg-[#0a0a0a]
    min-h-screen
    font-sans
    text-slate-800
    flex

    justify-center
    p-0 sm:p-0
    ">
    <!-- CONTAINER PRINCIPAL -->
    <main class="
        w-full
        max-w-6xl
        flex flex-col
        ">
        <!-- MENU -->
        <nav class="
            flex
            w-full
            overflow-x-auto
            sm:overflow-visible
            ">
            <!-- BOTÃO FILA -->
            <button
                routerLink="/home/fila"
                routerLinkActive="menu-button-active"
                class="
                    menu-button
                    cursor-pointer
                    sm:px-4
                    hover:bg-gray-300
                    hover:text-slate-800">
                <i class="fa-solid fa-users"></i>
                FILA

            </button>
            <!-- BOTÃO DE FOLLOWS -->
            <button
                routerLink="/home/followup"
                routerLinkActive="menu-button-active"
                class="
                    menu-button
                    cursor-pointer
                    sm:px-4
                    hover:bg-gray-300
                    hover:text-slate-800">

                <i class="fa-solid fa-calendar-check"></i>


                AGENDAMENTOS

            </button>
                        <!-- BOTÃO AREA DOS GRAFICOS -->
            <button
                routerLink="/home/pendencias"
                routerLinkActive="menu-button-active"
                class="
                    menu-button
                    cursor-pointer
                    sm:px-4
                    hover:bg-gray-300
                    hover:text-slate-800">

                <i class="fa-solid fa-clock"></i>

                PENDÊNCIAS

            </button>
            <!-- BOTÃO AREA DOS GRAFICOS -->
            <button
                routerLink="/home/dashboard"
                routerLinkActive="menu-button-active"
                class="
                    menu-button
                    cursor-pointer
                    sm:px-4
                    hover:bg-gray-300
                    hover:text-slate-800">

                <i class="fa-solid fa-chart-line"></i>

                DESEMPENHO

            </button>
        </nav>

        <!-- DESATIVADO POIS MIGREI O CÓDIGO PARA A METODOLOGIA ROUTER-OUTLET  -->
        <!-- CARREGAR CONTEÚDO DAS PAGINAS DINAMICAMENTE -->
        <!-- <app-fila *ngIf="activeTab === 'fila'"></app-fila>
        <app-followup *ngIf="activeTab === 'followup'"></app-followup>
        <app-dashboard *ngIf="activeTab === 'dashboard'"></app-dashboard> -->
        <router-outlet></router-outlet>
    </main>  
</div>
