<div class="
    bg-[#0a0a0a]
    min-h-screen
    font-sans
    text-slate-800
    flex
    items-center
    justify-center
    p-4 sm:p-8
    ">
    <!-- CONTAINER PRINCIPAL -->
    <main class="
        w-full
        max-w-4xl
        flex flex-col
        ">
        <!-- MENU -->
        <nav class="
            flex
            w-full
            overflow-x-auto
            sm:overflow-visible
            ">
            <!-- BOTÃO FILA -->
            <button
                routerLink="/home/fila"
                routerLinkActive="menu-button-active"
                class="
                    menu-button
                    cursor-pointer
                    sm:px-4
                    hover:bg-gray-300
                    hover:text-slate-800">
                <i class="fa-solid fa-users"></i>
                FILA

            </button>
            <!-- BOTÃO DE FOLLOWS -->
            <button
                routerLink="/home/followup"
                routerLinkActive="menu-button-active"
                class="
                    menu-button
                    cursor-pointer
                    sm:px-4
                    hover:bg-gray-300
                    hover:text-slate-800">

                <i class="fa-solid fa-calendar-check"></i>


                AGENDAMENTOS

            </button>
            <!-- BOTÃO AREA DOS GRAFICOS -->
            <button
                routerLink="/home/dashboard"
                routerLinkActive="menu-button-active"
                class="
                    menu-button
                    cursor-pointer
                    sm:px-4
                    hover:bg-gray-300
                    hover:text-slate-800">

                <i class="fa-solid fa-chart-line"></i>

                DESEMPENHO

            </button>
        </nav>

        <!-- DESATIVADO POIS MIGREI O CÓDIGO PARA A METODOLOGIA ROUTER-OUTLET  -->
        <!-- CARREGAR CONTEÚDO DAS PAGINAS DINAMICAMENTE -->
        <!-- <app-fila *ngIf="activeTab === 'fila'"></app-fila>
        <app-followup *ngIf="activeTab === 'followup'"></app-followup>
        <app-dashboard *ngIf="activeTab === 'dashboard'"></app-dashboard> -->
        <router-outlet></router-outlet>
    </main>  
</div>
