<!-- CARDS ATENDIMENTO X ORÇAMENTOS -->

<div class="Cards-info">
    <div class="card-content atendimento-card atendimento-realizados">

    <div class="card-header">
        <span>Atendimentos Realizados</span>
        <i class="fa-regular fa-clipboard"></i>
    </div>

    <div class="atendimento-row atendimento-realizados">
        <div class="atendimento-title">
            <span class="periodo">Hoje</span>
        </div>

        <div>
            <strong>
                {{ cardsAtendimento.atendimentos_hoje }}
            </strong>
            <i class="fa-solid fa-calendar-check"></i>
        </div>
    </div>

    <div class="atendimento-row atendimento-realizados">
        <div class="atendimento-title">
            <span class="periodo">Mês</span>
        </div>

        <div>
            <strong>
                {{ cardsAtendimento.atendimentos_mes }}
            </strong>
            <i class="fa-solid fa-calendar-days"></i>
        </div>
    </div>

    <div class="atendimento-row atendimento-realizados">
        <div class="atendimento-title">
            <span class="periodo">
                <strong>Total</strong>
            </span>
        </div>

        <div>
            <strong>
                {{ cardsAtendimento.atendimentos }}
            </strong>
            <i class="fa-solid fa-crown"></i>
        </div>
    </div>


    <!-- ÍNDICE DE ATENDIMENTOS POR VENDEDOR -->
    <div class="indice-table indice-atendimento">
        <table>
            <thead>
                <tr>
                    <th>Vendedor</th>
                    <th>Atendimentos hoje</th>
                    <th>Atendimentos este mês</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let vendedor of vendedores">

                    <td>
                        {{ vendedor.nome }}
                    </td>

                    <td>
                        {{ vendedor.atendimentos_hoje }}
                    </td>

                    <td>
                        {{ vendedor.atendimentos_mes }}
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- CARDS ORÇAMENTOS -->

<div class="Cards-info">
    <div class="card-content orcamento-card title-orcamento">
        <div class="card-header">
            <span>Orçamentos Realizados</span>
            <i class="fa-solid fa-user-tag"></i>
        </div>

        <div class="dashboard-subtitle">
            <div class="title-orcamento">
                Quantidade
            </div>

            <div class="title-orcamento">
                Valor
            </div>
        </div>

        <div class="orcamento-row title-orcamento">

            <div class="atendimento-title">
                <span class="periodo">Hoje</span>
            </div>

            <div class="orcamento-content">

                <strong>
                    {{ somarOrcamentosHoje() }}
                </strong>

                <strong>
                    {{ formatarValor(valoresOrcamentos.hoje) }}
                </strong>

                <i class="fa-solid fa-calendar-check"></i>

            </div>
        </div>


        <div class="orcamento-row title-orcamento">

            <div class="atendimento-title">
                <span class="periodo">Mês</span>
            </div>

            <div class="orcamento-content">

                <strong>
                    {{ somarOrcamentosMes() }}
                </strong>

                <strong>
                    {{ formatarValor(valoresOrcamentos.mes) }}
                </strong>

                <i class="fa-solid fa-calendar-days"></i>

            </div>
        </div>


        <div class="orcamento-row title-orcamento">

            <div class="atendimento-title">
                <span class="periodo">
                    <strong>Total</strong>
                </span>
            </div>

            <div class="orcamento-content">

                <strong>
                    {{ somarOrcamentosTotal() }}
                </strong>

                <strong>
                    {{ formatarValor(valoresOrcamentos.total) }}
                </strong>

                <i class="fa-solid fa-crown"></i>

            </div>
        </div>


        <!-- ÍNDICE DE ORÇAMENTOS POR VENDEDOR -->
        <div class="indice-table indice-orcamento">
            <table>

                <thead>
                    <tr>
                        <th>Vendedor</th>
                        <th>Valores de Orçamentos (hoje)</th>
                        <th>Orçamentos mês</th>
                        <th>Valores de orçamento (mês)</th>
                    </tr>
                </thead>

                <tbody>

                    <tr *ngFor="let vendedor of vendedoresOrcamentos">

                        <td>
                            {{ vendedor.nome }}
                        </td>

                        <td>
                            {{ formatarValor(vendedor.valor_orcamentos_hoje) }}
                        </td>

                        <td>
                            {{ vendedor.orcamentos_mes }}
                        </td>

                        <td>
                            {{ formatarValor(vendedor.valor_orcamentos_mes) }}
                        </td>

                    </tr>

                </tbody>

            </table>
        </div>
    </div>
</div>

<!-- TAXA DE CONVERSÃO -->

<div class="Cards-info">
    <div class="card-content conversao-content conversao-card conversao-realizados">
        <div class="card-header">
            <span>Taxa de conversão</span>
            <i class="fa-solid fa-calculator"></i>
        </div>


        <div class="conversao-row conversao-realizados">

            <div class="conversao-title">
                <span class="periodo">
                    Atendimento x orçamento
                </span>
            </div>

            <div>

                <strong>
                    {{ cardsAtendimento.percentual }}
                </strong>

                <i class="fa-solid fa-percent"></i>

            </div>

        </div>


        <div class="conversao-row conversao-realizados">

            <div class="conversao-title">
                <span class="periodo">
                    Orçamento x Venda
                </span>
            </div>

            <div>

                <!-- TEMPORÁRIO -->
                <strong>
                    38
                </strong>

                <i class="fa-solid fa-calendar-days"></i>

            </div>

        </div>


        <div class="conversao-row conversao-realizados">

            <div class="conversao-title">
                <span class="periodo">
                    Venda ato
                </span>
            </div>

            <div>

                <strong>
                    {{ cardsAtendimento.venda_ato }}
                </strong>

                <i class="fa-solid fa-handshake"></i>

            </div>

        </div>


        <!-- ÍNDICE DE CONVERSÃO POR VENDEDOR -->
        <div class="indice-table indice-conversao">

            <table>

                <thead>
                    <tr>
                        <th>Vendedor</th>
                        <th>Atendimento x orçamento</th>
                        <th>Orçamento x venda</th>
                        <th>Venda ato</th>
                    </tr>
                </thead>

                <tbody>

                    <tr *ngFor="let vendedor of vendedores">

                        <td>
                            {{ vendedor.nome }}
                        </td>

                        <!-- TEMPORÁRIO -->
                        <td>
                            {{ cardsAtendimento.percentual }}
                        </td>

                        <!-- TEMPORÁRIO -->
                        <td>
                            35%
                        </td>

                        <!-- TEMPORÁRIO -->
                        <td>
                            {{ cardsAtendimento.venda_ato }}
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
